@{
    ViewData["Title"] = "Penawaran";
}
<section id="Penawaran">
    <div class="row mb-1">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card border-light">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="">Program</label>
                            <div class="input-group input-group-sm" id="Penawaran-JenisProgram-Container">
                                <select class="form-control form-control-sm" id="Penawaran-JenisProgram" style="height:33px;" onchange="ListPenawaran()" autocomplete="off">
                                    <option selected value="">-- All--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="">Kegiatan</label>
                            <div class="input-group input-group-sm" id="Penawaran-Kegiatan-Container">
                                <select class="form-control form-control-sm" id="Penawaran-Kegiatan" style="height:33px;">
                                    <option selected value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Tanggal Pelaksanaan (Start-End) <span class="danger">*</span></label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend input-group-sm">
                                    <span class="input-group-text bg-info border-info white">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                                <input id="Penawaran-StartTglPelaksanaan" type="text" class="form-control form-control-sm datepicker">
                                <div class="input-group-append input-group-sm">
                                    <span class="input-group-text">-</span>
                                </div>
                                <input id="Penawaran-EndTglPelaksanaan" type="text" class="form-control form-control-sm datepicker">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Cari</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" id="Penawaran-Search" placeholder="Nama Program" onchange="ListPenawaran()" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover" id="Penawaran-table">
                                    <thead class="bg-info white text-center">
                                        <tr>
                                            <th width="5%" class="text-center">No</th>
                                            <th width="10%">Program</th>
                                            <th>Kegiatan</th>
                                            <th width="10%">Lokasi</th>
                                            <th width="15%">Tanggal Pelaksanaan</th>
                                            <th width="10%">Sub Kegiatan/Unit</th>
                                            <th width="10%">Available/Unit</th>
                                            <th width="10%">Penawaran</th>
                                            <th width="5%">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Penawaran-tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1 justify-content-between">
                        <div class="col-md-7 align-self-center">
                            <span class="d-inline-block mr-1">
                                <select class="form-control form-control-sm" id="Penawaran-page_select">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </span>
                            <span>
                                Showing <b id="Penawaran-from_page"></b> To <b id="Penawaran-to_page"></b> From <b id="Penawaran-total"></b> Total Data
                            </span>
                        </div>
                        <div class="col-md-5 align-self-center">
                            <div class="float-right xs-1" id="Penawaran-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
