@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content-header row">

</div>
<div class="content-body">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <img class="card-img-top img-fluid" src="~/assets/images/carousel/06.jpg" alt="Card image cap" style="height: 250px;">
                                    <div class="card-body">
                                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2px;">
                        <div class="col-12">
                            <div class="card" style="width: 100%;">
                                <div class="card-header">
                                    <h4 class="card-title">Lampiran</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10 pr-0">
                                            <input type="file" class="form-control form-control-sm">
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-sm btn-danger" style="height: 34px;">X</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-10 pr-0">
                                            <input type="file" class="form-control form-control-sm">
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-sm btn-danger" style="height: 34px;">X</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-sm btn-primary" style="width: 100%;">Add Lampiran</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                        <label>Jenis</label>
                                        <div class="input-group input-group-sm">
                                                <select class="form-control form-control-sm" style="height: 32px;">
                                                    <option value="">--Select Jenis Program--</option>
                                                </select>
                                        </div>
                                        </div>
                                        <div class="col-6">
                                            <label>Nama Program</label>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm" placeholder="Nama Program"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-7">
                                        <label>Tempat</label>
                                        <div class="input-group input-group-sm">
                                                <select class="form-control form-control-sm" style="height: 32px;">
                                                    <option value="">--Select Tempat Program--</option>
                                                </select>
                                        </div>
                                        </div>
                                        <div class="col-5">
                                            <label>Tgl Pelaksanaan</label>
                                            <div class="input-group input-group-sm">
                                                <input type="date" class="form-control form-control-sm" placeholder="Nama Program"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                        <label>Deskripsi</label>
                                        <div class="input-group input-group-sm">
                                                <textarea class="form-control form-control-sm"></textarea>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary" style="width: 70%;">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-primary white">
                                                <tr>
                                                    <th>Nama</th>
                                                    <th>Qty</th>
                                                    <th>Rp</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="text-center" colspan="4">Data Not Found</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
           
        </div>
    </div>
</div>

