<div id="md-UserInternal-Detail" class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Detail User</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Fullname</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserInternal-Fullname" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserInternal-Username" readonly>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>No Telepon</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserInternal-PhoneNumber" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserInternal-Mail" readonly>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label>Role</label>
                        <input id="Detail-UserInternal-Role" class="form-control form-control-sm clear" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="md-UserExternal-Detail" class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Detail User</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Fullname</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserExternal-Fullname" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserExternal-Username" readonly>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>No Telepon</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserExternal-PhoneNumber" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control form-control-sm clear" id="Detail-UserExternal-Mail" readonly>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Role</label>
                        <input type="text" id="Detail-UserExternal-Role" class="form-control form-control-sm clear" readonly />
                    </div>
                    <div class="col-md-6">
                        <label>Bidang Usaha</label>
                        <input type="text" id="Detail-UserExternal-BidangUsaha" class="form-control form-control-sm clear" readonly />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label>Nama Perusahaan</label>
                        <input type="text" id="Detail-UserExternal-NamaPerusahaan" class="form-control form-control-sm clear" readonly />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label>Alamat</label>
                        <textarea class="form-control form-control-sm clear" id="Detail-UserExternal-Alamat" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>