
<div class="modal" id="md-addProgress" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProgress-title">Add Progres</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card accordion collapse-icon accordion-icon-rotate" id="addProgress-body">

                    <a id="heading13" class="card-header info" data-toggle="collapse" href="#accordion13" aria-expanded="false" aria-controls="accordion13">
                        <div class="card-title lead collapsed">
                            <label class="font-weight-bold ">Kegiatan 2</label>
                        </div>
                    </a>
                    <div id="accordion13" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading13" class="collapse" aria-expanded="false">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-1">
                                        <label class="font-weight-bold ">Progres</label>
                                        <div>
                                            <input type="number" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="font-weight-bold">Tanggal Progres</label>
                                        <div>
                                            <input type="date" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <div>
                                            <label for="basicTextarea" class="cursor-pointer font-weight-bold">Deskripsi</label>
                                            <fieldset class="form-group">

                                                <textarea class="form-control" id="basicTextarea" rows="4"></textarea>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a id="heading14" class="card-header info" data-toggle="collapse" href="#accordion14" aria-expanded="false" aria-controls="accordion14">
                        <div class="card-title lead collapsed">
                            <label class="font-weight-bold ">Kegiatan 3</label>
                        </div>
                    </a>
                    <div id="accordion14" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading14" class="collapse" aria-expanded="false">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-1">
                                        <label class="font-weight-bold ">Progres</label>
                                        <div>
                                            <input type="number" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="font-weight-bold">Tanggal Progres</label>
                                        <div>
                                            <input type="date" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <div>
                                            <label for="basicTextarea" class="cursor-pointer font-weight-bold">Deskripsi</label>
                                            <fieldset class="form-group">

                                                <textarea class="form-control" id="basicTextarea" rows="4"></textarea>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
